<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VstoJiraIssueUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VstoJiraIssueUpdater.Properties.Settings>
            <setting name="JiraServer" serializeAs="String">
                <value>http://jira</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="JiraProjectID" serializeAs="String">
                <value />
            </setting>
            <setting name="Component_Team" serializeAs="String">
                <value />
            </setting>
            <setting name="FixVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="Assignee" serializeAs="String">
                <value>cprilk</value>
            </setting>
            <setting name="OriginalEstimateIn" serializeAs="String">
                <value>h</value>
            </setting>
            <setting name="SupportPerson" serializeAs="String">
                <value>peumali.sudasinghe@ifsworld.com</value>
            </setting>
            <setting name="WorkSheetName" serializeAs="String">
                <value>JIRA</value>
            </setting>
            <setting name="DefaultErrorMessage" serializeAs="String">
                <value>මට බැ Pumali !</value>
            </setting>
            <setting name="Type" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="DefaultPriority" serializeAs="String">
                <value>Three</value>
            </setting>
            <setting name="Status" serializeAs="String">
                <value>Open</value>
            </setting>
        </VstoJiraIssueUpdater.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>